<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Ecom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Product</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="products">
      <li *ngFor="let c of products._embedded.products">
        {{c.description}}
      </li>
    </ul>
  </div>

</div>
